:root{
  --scissors-gradient: (hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: (hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: (hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard-gradient: (hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan: (hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  
  /*ackground*/
  --radial-gradient: (hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
/* -----utility classes-------- */
.winner{
}
.hide{
  display: none;
  opacity: 0;
}



/* -----utility classes end----- */
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.attribution { 
  font-size: 11px; 
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 3.5rem;
  background-color: blanchedalmond;
  }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    height: 100vh;
    width: 375px;
    background: linear-gradient(180deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
}
main{
  display: flex;
  height: 98vh;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.header-container{
  border: 2px solid var(--header-outline);
  background-size: contain;
  border-radius: 10px;
  width: 85%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo img{
  width: 5rem;
  
}
.score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  background-color: hsl(30deg 20% 98%);
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--score-text);
  width: 5rem;
  height: 5rem;
  text-align: center;
    
}
#score{
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--dark-text);
}
.display{
  background: url(./images/bg-triangle.svg) no-repeat center ;
  background-size: contain;
  width: 85%;
  height: 50vh;
  margin: 60px auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

}

.btn{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: inset 0px 2px 5px 5px grey;
  cursor: pointer;
  /* position: absolute; */
}
.display .paper{
  background: url(./images/icon-paper.svg) no-repeat center, white;
  border: 15px solid rgb(22, 25, 204);
  top: 40px;
  left: 10px;
}
.display .rock{
  background: url(./images/icon-rock.svg) no-repeat center, white;
  border: 15px solid rgb(129, 45, 6);
  top: 180px;  
  left: 100px;
}
.display .scissors{
  background: url(./images/icon-scissors.svg) no-repeat center, white;
  border: 15px solid yellow;
  top: 40px;
  right: 10px;
}
.rules-btn{
  padding: 10px 30px;
  margin: 10px auto 20px;
  display: block;
  background-color: transparent;
  border: 1px solid #d8d7d7;
  text-transform:uppercase ;
  color: #d8d7d7;
  border-radius: 5px;
  cursor: pointer;
}
.selection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  height: 50vh;
  margin: 60px auto 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.choices{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.choices p{
  color: hsl(30deg 20% 98%);
  text-transform: uppercase;
}
.house{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player .btn, .house .btn{
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
}
.result{
  color: hsl(30deg 20% 98%);
  font-size: 3rem;
  text-transform: uppercase;

}
.display-result{
  text-align: center;
}
.display-result button{
  font-size: 1rem;
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  margin: 10px auto;
  text-transform: uppercase;
}

.rules{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color:hsl(30deg 20% 98%);
  transition: 0.2ms;
  z-index: -10;
  opacity: 0;
  
}
.close-rules{
  background-image: url(./images/icon-close.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}
.rules p{
  font-size: 3rem;
  color: var(--dark-text);
}