*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #aa6756;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
img{
    width: 50px;
    height: 50px;
    cursor: pointer;
   
}
img:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.result{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid black;

}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:center;
    justify-content:center;
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.choices{
    
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.user{

    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.startGame{
    position: absolute;
    top: 220px;
    right: 650px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.computer{

    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.scoreDisplay{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.userScore{

}
#rock{
    background: url(./images/rock.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
   
}

#paper{
    background: url(./images/paper.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
   
}

#scissors{
    background: url(./images/scissors.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    
}
#scissors:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 200ms;
}
#paper:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 200ms;
}
#rock:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 200ms;
}